#page{border:0.2rem double grey;}
#updatemenu{border-top:0.1rem solid grey;}
#searchmenu{border-bottom:0.1rem solid grey;}
.icon{font-size:17px; margin:0.3rem  0  0.3rem;}
#options{margin:1% 0 1%} 

a{color:black}
a:hover {color: black}
a:active {color: black}
.etc{}